Approval.Web.old/Service References/ApprovalWorkflowService/Workflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Workflow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TechEdNZ/ApprovalWorkflow/Workflow.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TechEdNZ/ApprovalWorkflow/Workflow.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TechEdNZ/ApprovalWorkflow/Workflow.xamlx?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_BeginApprovalProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginApprovalProcess" />
  </wsdl:message>
  <wsdl:message name="IService_BeginApprovalProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginApprovalProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="IService_Approve_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Decline_InputMessage">
    <wsdl:part name="parameters" element="tns:Decline" />
  </wsdl:message>
  <wsdl:message name="IService_Decline_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="BeginApprovalProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BeginApprovalProcess" message="tns:IService_BeginApprovalProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BeginApprovalProcessResponse" message="tns:IService_BeginApprovalProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Approve" message="tns:IService_Approve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ApproveResponse" message="tns:IService_Approve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decline">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Decline" message="tns:IService_Decline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeclineResponse" message="tns:IService_Decline_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginApprovalProcess">
      <soap:operation soapAction="http://tempuri.org/IService/BeginApprovalProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://tempuri.org/IService/Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decline">
      <soap:operation soapAction="http://tempuri.org/IService/Decline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="BeginApprovalProcess">
      <soap12:operation soapAction="http://tempuri.org/IService/BeginApprovalProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap12:operation soapAction="http://tempuri.org/IService/Approve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decline">
      <soap12:operation soapAction="http://tempuri.org/IService/Decline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Workflow">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/TechEdNZ/ApprovalWorkflow/Workflow.xamlx" />
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IService" binding="tns:NetNamedPipeBinding_IService">
      <soap12:address location="net.pipe://petehomedesktop/TechEdNZ/ApprovalWorkflow/Workflow.xamlx" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://petehomedesktop/TechEdNZ/ApprovalWorkflow/Workflow.xamlx</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/PeteHomeDesktop</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>