ApproverClient/Service References/ApprovalWorkflowService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1358/Service1.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1358/Service1.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1358/Service1.xamlx?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_BeginApprovalProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginApprovalProcess" />
  </wsdl:message>
  <wsdl:message name="IService_BeginApprovalProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginApprovalProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="IService_Approve_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Decline_InputMessage">
    <wsdl:part name="parameters" element="tns:Decline" />
  </wsdl:message>
  <wsdl:message name="IService_Decline_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="BeginApprovalProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BeginApprovalProcess" message="tns:IService_BeginApprovalProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BeginApprovalProcessResponse" message="tns:IService_BeginApprovalProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Approve" message="tns:IService_Approve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ApproveResponse" message="tns:IService_Approve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decline">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Decline" message="tns:IService_Decline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeclineResponse" message="tns:IService_Decline_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginApprovalProcess">
      <soap:operation soapAction="http://tempuri.org/IService/BeginApprovalProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Approve">
      <soap:operation soapAction="http://tempuri.org/IService/Approve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decline">
      <soap:operation soapAction="http://tempuri.org/IService/Decline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1358/Service1.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>